@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
height : 100%;
width : 100%;
font-family: 'Poppins', sans-serif;
color: #222;
}
.main-section{
  margin : 0 auto;
  margin-top :50px;
  padding: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.con{
  margin-top: 25rem;
  background-color: black;
}
.nav__{
  
  height: 90px;
}
